# Data science Tools and Ecosystem

## In this Notebook, Data science tools and ecosystems are summarized.

### Some of the key take aways in this course are:

### **Objectives** 
1. Tools used in Datascience 
2. languages used in DataScience
3. Arithmetic Expressions

### Some of the popular languages that Data Scientists use are:

1. Python
2. R language 
3. SQL
4. Scala
5. Ruby

### Some ofthe commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Plotly

# Data Science Tools 


    
Data Science Tools|Type|
------------------|----|
  Jupyter|Open source|
 MySq|Open source|
 PostgreSql|Open source|
 Cassandra|Open source|

# Arithmetic Expressions Examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

### NR Benhail Benjamin